<div class="row">
  @for (item of listaCarrito; track $index) {
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem">
        <img [src]="item.Pages! | imagenesLibros" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item.Title }}</h5>
        </div>
      </div>
    </div>
  }
</div>
@if (listaCarrito.length > 0) {
  <div class="alert alert-primary" role="alert">
    Hay {{ listaCarrito.length }} libros en el carrito
  </div>
  <button (click)="comprarCarrito()" class="btn btn-primary">Comprar carrito</button>
}
