<select
  class="form-select"
  aria-label="Default select example"
  name="busqueda"
  [(ngModel)]="busqueda"
>
  <option selected>Generos</option>
  <option value="Todas">Todas</option>
  <option value="Drama">Drama</option>
  <option value="Crimen">Crimen</option>
  <option value="Acción">Acción</option>
  <option value="Ciencia Ficción">Ciencia Ficción</option>
  <option value="Animación">Animación</option>
</select>
<button class="btn btn-primaty" (click)="buscarPorGenero()">Buscar</button>

@for (item of listaFiltradaPeliculas; track item.id) {
  <div class="card" style="width: 18rem">
    <img [src]="item.genero | imagenesGenero" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ item.titulo }}</h5>
      <p class="card-text">
        {{ item.descripcion }}
      </p>
    </div>
  </div>
}
